.Hero{
    background-color: rgba(128, 0, 128, 0.182);
}

.sidebar{
    background-color: rgba(110, 170, 0, 0.595);
}

.relatedImages{
    background-color: rgb(73, 172, 123);
}

.footer{
    background-color: rgba(255, 166, 0, 0.884);
}
